body {
  
  background: lightyellow;
  transition: .2s all ease-in;
}

.card {
  background: lightyellow;
}

body.dark {
  background: lightblue;
  color: gray;
}

body.dark hr {
  border-top: 1px solid rgba(0,0,0,.9);
}

body.dark .card {
  background: lightblue;
  border: 1px solid rgba(0,0,0,.875);
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-info,
.btn-info:active,
.btn-info:not(:disabled):not(.disabled):active {
  background: lightblue;
  border: 1px solid gray;
}
.btn-info:hover{
  background:rgba(173,216,230, 0.7);
}

.btn-custom {
  background: lightyellow;
  border: 1px solid gray;
}
